$primary-color: #000;
$background-color: #fff;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
  height: 200px;
  width: 680px;
  background-color: $background-color;
}
.toolbar {
  width: 100%;
  height: 30px;
  & .settings {
    float: right;
    padding: 5px;
  }
  background-color: $background-color;
}

.popupContainer {
  align-items: center;
  background-color: $background-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;

  & ul {
    margin: 10px;
    height: 180px;
    overflow: auto;
    padding: 10px 0px;
    border: 1px solid #ddd;
    width: 90%;
  }

  & li {
    justify-content: center;
    align-content: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;

    & .listItem {
      padding: 5px 10px;

      & div {
        width: 100%;
        overflow: hidden;
      }

      & .grid {
        display: inline-grid;
        vertical-align: middle;
        grid-template-columns: auto 120px 45px 45px;
      }

      &:hover{
        background-color: #eee;
      }

      & span.videoTitle {
        font-size: 15px;
        width: 360px;
      }
      & span.videoUrl {
        font-size: 10px;
        color: #4281f4;
      }
      & span.detectionMethod {
        font-style: italic;
        font-size: 14px;
        text-align: center;
      }
      & span {
        overflow: hidden;
        line-height: 24px;
      }
    }
  }
}

.toolbar a,
.popupContainer a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #4281f4;
  }
  vertical-align: middle;
}
